<!DOCTYPE html>
<html>
<head>
<title>Page Title</title>
</head>
<body>

<h1>Available Books</h1>

<table border="1">
    <tr>
        <th>Name</th>
        <th>Stock</th>
        <th>Status</th>
        <th>Add Book</th>

    </tr>

    <tr> 
    {% for book in books %}
        {%if book.status%}
        <tr> 
        <td>{{ book.book }}</td>
        <td>{{ book.stock }}</td>
        <td>Available</td>
        
        <td><a href="add_book/{{ book.id }}">Borrow</a>
        </tr>
        {% endif %}
    {% endfor %}

</table>

<p>
<a href="{% url 'home' %}">Home</a>

</body>
</html>